/* typography clasess */

.font-baloo{
    font-family: $font-baloo;
}

.font-raleway{
    $font-family: $font-raleway;
}

.font-rubik{
    $font-family: $font-rubik;
}

.font-size12{
    font-size: 12px;
}

.font-size14{
    font-size: 14px;
}

.font-size16{
    font-size: 16px;
}

.font-size20{
    font-size: 20px;
}

.font-size40{
    font-size: 40px;
}